body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin: 0%;
    background: linear-gradient(0deg, rgb(85, 3, 13), rgb(126, 203, 194));
}
.navbar{
    height: 10%;
    width: 100%;
    background-color: black;
    color: rgb(253, 185, 75);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar a{
    padding-top: 20px;
    margin: 10px;
    color: rgb(253, 185, 75);
    text-decoration: none;
}
.navbar a:hover{
    height: 10%;
    width: 100%;
    background-color: black;
    color: rgb(248, 228, 196);
    font-size: 32px;
}
.block-one{
    display: flex;
    height: 90%;
    width: 100%;
    color:black;
    font-weight: bolder;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

.block-one img
{
    height: 100%;
}

.Task-info{
    width: 60%;
    line-height: 5px;
    margin-top: 5%;
    
}
.Task-info li{
    margin-left: 5%;
    width: auto;
    text-decoration: underline;
    font-weight: 300;
}

.p-tap{
    font-size: 100px;
    text-align: center;

}

.p-otd{
    text-align: center;
    color: rgb(36, 34, 34);
}

.p-te{
    text-align: center;
    font-size: 100px;
}